$container-width: 1256px;
$main-color-text: rgb(25, 28, 31);
$main-font: 'GraphikLCG', sans-serif;
$primary-button-background: rgb(42, 108, 234);
$default-button-background: rgb(236, 239, 242);
$default-button-hover-background: rgb(255, 255, 255);
$primary-button-hover-background: rgb(57, 125, 255);


