<section class="sixth">
  <div class="container">
    <div class="sixth-item">
      <div class="sixth-item-title">Опрошенных пользовались микрокредитами</div>
      <div class="sixth-item-text">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает
        отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽.
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах
      </div>
    </div>
    <div class="sixth-item">
      <div class="sixth-item-title">Опрошенных пользовались микрокредитами</div>
      <div class="sixth-item-text">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает
        отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽.
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафахНе могли
        покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить
        деньги на процентах и штрафах
      </div>
    </div>
    <div class="sixth-item">
      <div class="sixth-item-title">Опрошенных пользовались микрокредитами</div>
      <div class="sixth-item-text">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает
        отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽.
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафахНе могли
        покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить
        деньги на процентах и штрафах
      </div>
    </div>
    <div class="sixth-item">
      <div class="sixth-item-title">Опрошенных пользовались микрокредитами</div>
      <div class="sixth-item-text">Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает
        отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽.
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах
      </div>
    </div>
  </div>
</section>
