.question-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &.open {
    transform: rotate(45deg);
    transition: all 0.3s;
  }
}

@media screen and (max-width: 859px) {

  .question-icon {
    position: relative;
    top: 5px;
  }
}
