<section class="how" id="howItWorks">
  <div class="container">
    <h2 class="how-title">Как это работает</h2>
    <div class="how-items">
      <div class="how-item" *ngFor="let item of data">
        <div class="how-item-image">
          <img src="{{'assets/images/' + item.image}}" alt="icon">
        </div>
        <div class="how-item-info">
          <h6 class="how-item-info-title">{{item.title}}</h6>
          <div class="how-item-info-description">{{item.description}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
