

@font-face {
  src: url("../fonts/GraphikLCG-Regular.ttf");
  font-family: 'GraphikLCG';
  font-weight: 400;
}

@font-face {
  src: url("../fonts/GraphikLCG-Semibold.ttf");
  font-family: 'GraphikLCG';
  font-weight: 600;
}

